@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.topMargin {
  margin-top: 5%;
}

h3 {
  font-size: 25px;
  color: #fb8a57;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* --------------Responsive--------------  */

@media screen and (max-width: 991px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* --------------Responsive--------------  */
