@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.topMargin {
  margin-top: 5%;
}

h3 {
  font-size: 25px;
  color: #fb8a57;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* --------------Dashboard--------------  */

.sidebar {
  text-align: center;
  background: #fff;
  position: sticky;
  overflow: auto;
  height: 90vh;
  top: 0;
  left: 0;
}

.hammenu {
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-nav {
  background-color: #fb8a57;
  list-style: none;
  margin: 5px;
  border-radius: 10px;
  padding: 7px;
  text-align: start;
  height: 60vh;
  margin-top: 20px;
}

li.ant-menu-item {
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  color: white;
  margin-top: 10px;
}

li.ant-menu-item:hover {
  background-color: #f2f6fc;
  border-radius: 5px;
  color: black;
}

svg.ant-menu-item-icon {
  font-weight: bold;
  margin-right: 10px;
}

.main-content {
  background-color: #f2f6fc;
  padding: 10px;
}

/* --------------Dashboard--------------  */

/* --------------Responsive--------------  */

@media screen and (max-width: 991px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* --------------Responsive--------------  */
